/* Imagegallery.css */

body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.Project1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Project1>div {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 7px solid #403f3f72;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Project1>div img {
    width: 100%;
    max-width: fit-content;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.Project1>div h2 {
    margin: 10px 0;
    font-size: 16px;
}

.Project1>div h3 {
    color: #e44d26;
    font-size: 14px;
}

.Project1>div p {
    margin: 5px 0;
    font-size: 12px;
}

button {
    padding: 10px 20px;
    /* Adjust the padding as needed */
    margin: 5px;
    /* Adjust the margin as needed */
}


.SAMPLE {
    FONT-SIZE: 18PX;
    BACKGROUND-COLOR: aquamarine;
    COLOR: darkblue;
}

.ALL {
    FONT-SIZE: 18PX;
    border-radius: 20px;
    background-color: white;
}

.LAPTOP {
    FONT-SIZE: 18PX;
    background-color: white;
    border-radius: 20px;
}

.MOBILE {
    FONT-SIZE: 18PX;
    background-color: white;
    border-radius: 20px;
}

.DESKTOP {
    FONT-SIZE: 18PX;
    background-color: white;
    border-radius: 20px;
}

.ALL:hover {
    color: blue;
}

.LAPTOP:hover {
    color: blue;
}

.MOBILE:hover {
    color: blue;
}

.DESKTOP:hover {
    color: blue;
}

.Project1>div button {
    background-color: #FFF;
    color: grey;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.Project1>div button:hover {
    color: blue;
}